<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    package="com.squareup.kindphotobot">

  <uses-feature android:name="android.hardware.camera"/>

  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <application
      android:name=".App"
      android:allowBackup="true"
      android:hardwareAccelerated="true"
      android:icon="@mipmap/icon"
      android:label="KindPhotoBot"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar">

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version"/>

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="face"/>

    <activity
        android:name=".snap.SnapActivity"
        android:label="Snap"
        android:screenOrientation="fullSensor"
        android:theme="@style/Theme.Snap"
        >
    </activity>

    <activity
        android:name=".MainActivity"
        android:label="Photobooth">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

  </application>

</manifest>
